* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}

/* CSS LOGIN */

.login-flex-main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-flex-box {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 3px;
    padding: 20px;
}

.login-login-text {
    font-size: 42px;
    margin-bottom: 5px;
}

.login-text-input {
    border: 1px black solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.login-remember {
    margin-bottom: 10px;
}

.login-account-link {
    margin-bottom: 10px;
    align-self: flex-end;
}

.login-submit-button {
    align-self: flex-start;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border-radius: 3px;
    font-size: 18px;
}

/* CSS REGISTER */

.register-flex-main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-flex-box {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 3px;
    padding: 20px;
}

.register-register-text {
    font-size: 42px;
    margin-bottom: 5px;
}

.register-text-input {
    border: 1px black solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.register-remember {
    margin-bottom: 10px;
}

.register-account-link {
    margin-bottom: 10px;
    align-self: flex-end;
}

.register-submit-button {
    align-self: flex-start;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border-radius: 3px;
    font-size: 18px;
}